{
    "definition": {
        "openapi": "3.0.3",
        "info": {
            "title": "RESTful API JTO 2021",
            "version": "1.0.4",
            "description": "OpenAPI for RESTful API JTO 2021 No Auth",
            "termsOfService": "https://jto.hubdat.go.id",
            "contact": {
                "name": "Ditpras Kemenhub"
            },
            "license": {
                "name": "APACHE 2.0",
                "url": "https://www.apache.org/licenses/LICENSE-2.0"
            }
        },
        "servers": [
            {
                "description": "Public RESTful API JTO",
                "url": "https://jto.dephub.go.id/api/v2/v2pb"
            },
            {
                "description": "Private RESTful API JTO",
                "url": "https://jto.dephub.go.id/api/v2/v2pv"
            }
        ],
        "paths": {
            "/appversi": {
                "get": {
                    "tags": [
                        "Get Versi App"
                    ],
                    "operationId": "GetAppVersi",
                    "summary": "Get Versi Device",
                    "description": "Get Versi Device. 0=Desktop; 1=Web; 2=Android",
                    "parameters": [
                        {
                            "name": "device",
                            "required": true,
                            "in": "query",
                            "schema": {
                                "type": "integer",
                                "default": 0,
                                "maximum": 3
                            }
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "Get Versi Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "data": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "device_id": {
                                                            "type": "integer"
                                                        },
                                                        "versi": {
                                                            "type": "string"
                                                        },
                                                        "tahun": {
                                                            "type": "integer"
                                                        },
                                                        "keterangan": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "success": true,
                                        "message": "Permintaan Data Berhasil",
                                        "data": [
                                            {
                                                "id": 1,
                                                "device_id": 0,
                                                "versi": "1.0.4alpha-1",
                                                "tahun": 2022,
                                                "keterangan": "Versi Alpha 1"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed Get App Versi",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/ping": {
                "post": {
                    "tags": [
                        "Post Ping Server"
                    ],
                    "summary": "PING Server",
                    "operationId": "PostPingServer",
                    "description": "POST Server Conditions",
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "command": {
                                            "type": "string",
                                            "minLength": 1,
                                            "default": "ping"
                                        }
                                    }
                                },
                                "example": {
                                    "command": "ping"
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Ping Server Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "tgl_jam_server": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "example": {
                                        "success": true,
                                        "message": "pong",
                                        "tgl_jam_server": "2022-03-09 20:02:31"
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed Ping Server",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/login": {
                "post": {
                    "tags": [
                        "Login"
                    ],
                    "summary": "Login API",
                    "operationId": "PostLogin",
                    "description": "POST Login API JTO",
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "email": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "password": {
                                            "type": "string",
                                            "minLength": 1
                                        }
                                    }
                                },
                                "example": {
                                    "email": "postman@marktelrnd.online",
                                    "password": "marktel123456"
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Login Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/ArrayOfAuthResponse"
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed Login",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "Failed Login",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/user/token": {
                "post": {
                    "tags": [
                        "Refresh Token"
                    ],
                    "summary": "Refresh Token API",
                    "operationId": "PostRefreshToken",
                    "description": "POST Refresh Token API JTO",
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "refreshToken": {
                                            "type": "string",
                                            "minLength": 1
                                        }
                                    },
                                    "example": {
                                        "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MywiaWF0IjoxNjQ2ODg2NTEyLCJleHAiOjE2Nzg0MjI1MTJ9.gCiUWap-CSeakDyg9X429ZXwmxO4rHdataM_Eh5EaUo"
                                    }
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Refresh Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/ArrayOfAuthResponse"
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/forgot-password": {
                "post": {
                    "tags": [
                        "Forgot Password Req"
                    ],
                    "summary": "Request Forgot Password",
                    "operationId": "PostReqForgotPassword",
                    "description": "POST Forgot Password API JTO",
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "email": {
                                            "type": "string",
                                            "minLength": 1
                                        }
                                    },
                                    "example": {
                                        "email": "marktel.rnd@gmail.com"
                                    }
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Req Forgot Password Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/200Success"
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed Req Forgot Password",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/reset-password": {
                "post": {
                    "tags": [
                        "Reset Password"
                    ],
                    "summary": "Reset Password",
                    "operationId": "PostReqResetPassword",
                    "description": "POST Reset Password API JTO",
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "new_password": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "new_password_confirm": {
                                            "type": "string",
                                            "minLength": 1
                                        }
                                    },
                                    "example": {
                                        "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwiaWF0IjoxNjQ0ODk5NDY3LCJleHAiOjE2NzY0MzU0Njd9.xM8hJkhGoIlC3Y2P_ROXhetQm_yDYVwk8D4JqbLJUms",
                                        "new_password": "marktel1234",
                                        "new_password_confirm": "marktel1234"
                                    }
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Reset Password Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/200Success"
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed Req Forgot Password",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/qr/rep/penimbangan": {
                "get": {
                    "tags": [
                        "QR Viewer"
                    ],
                    "summary": "QR Viewer Penimbangan",
                    "operationId": "GetQrViewerPenimbangan",
                    "description": "GET Viewer Scan QR Report Penimbangan",
                    "parameters": [
                        {
                            "name": "src",
                            "required": true,
                            "in": "query",
                            "schema": {
                                "type": "string",
                                "minLength": 1
                            },
                            "example": "F9a5c47QQOK3qEtyKYkbrJr/bcFuyi44ySAPL9I/5cEFZefm4f+1Ua6ivl1honcWqcznJmT7VLLUWLYehsUkXYgdybswxIUOE3LSN/itUGo="
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "Download Laporan Penimbangan Berhasil",
                            "content": {
                                "text/html": {
                                    "schema": {
                                        "type": "string"
                                    },
                                    "example": "<html>Laporan Penimbangan</html>"
                                }
                            }
                        },
                        "404": {
                            "description": "Not Found",
                            "content": {
                                "text/html": {
                                    "schema": {
                                        "type": "string"
                                    },
                                    "example": "<html>404 Not Found</html>"
                                }
                            }
                        }
                    }
                }
            },
            "/qr/rep/pelanggaran": {
                "get": {
                    "tags": [
                        "QR Viewer"
                    ],
                    "summary": "QR Viewer Pelanggaran",
                    "operationId": "GetQrViewerPelanggaran",
                    "description": "GET Viewer Scan QR Report Pelanggaran",
                    "parameters": [
                        {
                            "name": "src",
                            "required": true,
                            "in": "query",
                            "schema": {
                                "type": "string",
                                "minLength": 1
                            },
                            "example": "F9a5c47QQOK3qEtyKYkbrHS5JsJb1uI6ppYaEAjg43RhmzGv+BETHDuJxMH19iWyflEHf8Nq9WV4i195cWBvCUcpKMVMCYTKj53hDekLtjJ9J9FRwIdOL3Mj0Kj2jVg0"
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "Download Laporan Pelanggaran Berhasil",
                            "content": {
                                "text/html": {
                                    "schema": {
                                        "type": "string"
                                    },
                                    "example": "<html>Laporan Pelanggaran</html>"
                                }
                            }
                        },
                        "404": {
                            "description": "Not Found",
                            "content": {
                                "text/html": {
                                    "schema": {
                                        "type": "string"
                                    },
                                    "example": "<html>404 Not Found</html>"
                                }
                            }
                        }
                    }
                }
            },
            "/qr/rep/penindakan": {
                "get": {
                    "tags": [
                        "QR Viewer"
                    ],
                    "summary": "QR Viewer Penindakan",
                    "operationId": "GetQrViewerPenindakan",
                    "description": "GET Viewer Scan QR Report Penindakan",
                    "parameters": [
                        {
                            "name": "src",
                            "required": true,
                            "in": "query",
                            "schema": {
                                "type": "string",
                                "minLength": 1
                            },
                            "example": "F9a5c47QQOK3qEtyKYkbrHS5JsJb1uI6ppYaEAjg43RhmzGv+BETHDuJxMH19iWyflEHf8Nq9WV4i195cWBvCUcpKMVMCYTKj53hDekLtjJ9J9FRwIdOL3Mj0Kj2jVg0"
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "Download Laporan Penindakan Berhasil",
                            "content": {
                                "text/html": {
                                    "schema": {
                                        "type": "string"
                                    },
                                    "example": "<html>Laporan Penindakan</html>"
                                }
                            }
                        },
                        "404": {
                            "description": "Not Found",
                            "content": {
                                "text/html": {
                                    "schema": {
                                        "type": "string"
                                    },
                                    "example": "<html>404 Not Found</html>"
                                }
                            }
                        }
                    }
                }
            },
            "/bptd": {
                "get": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data BPTD"
                    ],
                    "operationId": "GetAllBptd",
                    "summary": "Get All BPTD",
                    "description": "Get Data All BPTD",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/queryParamsPage"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsPaginate"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsOrderBy"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsSortBy"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsSearch"
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "Get Data Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "data": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "kode": {
                                                            "type": "string"
                                                        },
                                                        "nama": {
                                                            "type": "string"
                                                        },
                                                        "alamat": {
                                                            "type": "string"
                                                        },
                                                        "lat_pos": {
                                                            "type": "string"
                                                        },
                                                        "lon_pos": {
                                                            "type": "string"
                                                        },
                                                        "is_active": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "meta": {
                                                "type": "object",
                                                "properties": {
                                                    "pages": {
                                                        "type": "integer"
                                                    },
                                                    "paginate": {
                                                        "type": "integer"
                                                    },
                                                    "total": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "success": true,
                                        "message": "Permintaan Data Berhasil",
                                        "data": [
                                            {
                                                "id": 9,
                                                "kode": "09",
                                                "nama": "BPTD Wilayah IX Jawa Barat",
                                                "alamat": "Jl. Surya Sumantri No.92 Kel. Sukagalih Kec. Sukajadi, Kota Bandung, Jawa Barat 40164, Sukagalih, Kec. Sukajadi, Kota Bandung, Jawa Barat 40152",
                                                "lat_pos": "-6.884342",
                                                "lon_pos": "107.579477",
                                                "is_active": true
                                            }
                                        ],
                                        "meta": {
                                            "pages": 1,
                                            "paginate": "50",
                                            "total": 1
                                        }
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed Get Data",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/bptd/publish/active": {
                "get": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data BPTD"
                    ],
                    "operationId": "GetAllBptdActive",
                    "summary": "Get All BPTD Flag Is Active True",
                    "description": "Get Data All BPTD Flag Is Active True",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/queryParamsPage"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsPaginate"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsOrderBy"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsSortBy"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsSearch"
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "Get Data Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "data": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "kode": {
                                                            "type": "string"
                                                        },
                                                        "nama": {
                                                            "type": "string"
                                                        },
                                                        "alamat": {
                                                            "type": "string"
                                                        },
                                                        "lat_pos": {
                                                            "type": "string"
                                                        },
                                                        "lon_pos": {
                                                            "type": "string"
                                                        },
                                                        "is_active": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "meta": {
                                                "type": "object",
                                                "properties": {
                                                    "pages": {
                                                        "type": "integer"
                                                    },
                                                    "paginate": {
                                                        "type": "integer"
                                                    },
                                                    "total": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "success": true,
                                        "message": "Permintaan Data Berhasil",
                                        "data": [
                                            {
                                                "id": 9,
                                                "kode": "09",
                                                "nama": "BPTD Wilayah IX Jawa Barat",
                                                "alamat": "Jl. Surya Sumantri No.92 Kel. Sukagalih Kec. Sukajadi, Kota Bandung, Jawa Barat 40164, Sukagalih, Kec. Sukajadi, Kota Bandung, Jawa Barat 40152",
                                                "lat_pos": "-6.884342",
                                                "lon_pos": "107.579477",
                                                "is_active": true
                                            }
                                        ],
                                        "meta": {
                                            "pages": 1,
                                            "paginate": "50",
                                            "total": 1
                                        }
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed Get Data",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/bptd/{id}": {
                "get": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data BPTD"
                    ],
                    "operationId": "GetDataBptdById",
                    "summary": "Get Data BPTD By ID",
                    "description": "Get Data BPTD By ID",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/pathParamsId"
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "Get Data Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "data": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "kode": {
                                                            "type": "string"
                                                        },
                                                        "nama": {
                                                            "type": "string"
                                                        },
                                                        "alamat": {
                                                            "type": "string"
                                                        },
                                                        "lat_pos": {
                                                            "type": "string"
                                                        },
                                                        "lon_pos": {
                                                            "type": "string"
                                                        },
                                                        "is_active": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "success": true,
                                        "message": "Permintaan Data Berhasil",
                                        "data": {
                                            "id": 9,
                                            "kode": "09",
                                            "nama": "BPTD Wilayah IX Jawa Barat",
                                            "alamat": "Jl. Surya Sumantri No.92 Kel. Sukagalih Kec. Sukajadi, Kota Bandung, Jawa Barat 40164, Sukagalih, Kec. Sukajadi, Kota Bandung, Jawa Barat 40152",
                                            "lat_pos": "-6.884342",
                                            "lon_pos": "107.579477",
                                            "is_active": true
                                        }
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed Get Data",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/bptd/create": {
                "post": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data BPTD"
                    ],
                    "operationId": "InsertDataBPTD",
                    "summary": "Insert Data BPTD",
                    "description": "Insert Data BPTD",
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "kode": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "nama": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "alamat": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "lat_pos": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "lon_pos": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "iact": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "kode": "100",
                                    "nama": "BPTD TESTED OPEN API",
                                    "alamat": "TEST OPEN API",
                                    "lat_pos": "0",
                                    "lon_pos": "0",
                                    "iact": true
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "data": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "last_insert_id": {
                                                            "type": "integer"
                                                        },
                                                        "fields": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "kode": {
                                                                    "type": "string"
                                                                },
                                                                "nama": {
                                                                    "type": "string"
                                                                },
                                                                "alamat": {
                                                                    "type": "string"
                                                                },
                                                                "lat_pos": {
                                                                    "type": "string"
                                                                },
                                                                "lon_pos": {
                                                                    "type": "string"
                                                                },
                                                                "is_active": {
                                                                    "type": "boolean"
                                                                },
                                                                "created_by": {
                                                                    "type": "integer"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "success": true,
                                        "message": "Tambah Data Berhasil",
                                        "data": [
                                            {
                                                "last_insert_id": 27,
                                                "fields": {
                                                    "kode": "100",
                                                    "nama": "BPTD TESTED OPEN API",
                                                    "alamat": "TEST OPEN API",
                                                    "lat_pos": "0",
                                                    "lon_pos": "0",
                                                    "is_active": true,
                                                    "created_by": 3,
                                                    "created_at": "2022-03-15 09:55:02"
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        },
                        "422": {
                            "description": "Unprocessable Entity",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/422UnProcessEntity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/bptd/update/{id}": {
                "put": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data BPTD"
                    ],
                    "operationId": "UpdateDataBPTD",
                    "summary": "Update Data BPTD",
                    "description": "Update Data BPTD",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/pathParamsId"
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "kode": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "nama": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "alamat": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "lat_pos": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "lon_pos": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "iact": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "kode": "100",
                                    "nama": "BPTD TESTED OPEN API",
                                    "alamat": "TEST OPEN API",
                                    "lat_pos": "0",
                                    "lon_pos": "0",
                                    "iact": true
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/UpdateSuccess"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        },
                        "422": {
                            "description": "Unprocessable Entity",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/422UnProcessEntity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/bptd/updateArr/status": {
                "put": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data BPTD"
                    ],
                    "operationId": "UpdateDataStatusArrBPTD",
                    "summary": "Update Data Status Array BPTD",
                    "description": "Update Data Status Array BPTD",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/queryParamsArrId"
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "iact": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "iact": true
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/UpdateSuccess"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/bptd/deleteSoft/{id}": {
                "delete": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data BPTD"
                    ],
                    "operationId": "DeleteSoftDataBPTD",
                    "summary": "Delete Soft Data BPTD",
                    "description": "Delete Soft Data BPTD",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/queryParamsArrId"
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "iact": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "iact": true
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/RemoveSuccess"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/bptd/deleteArrSoft/arr": {
                "delete": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data BPTD"
                    ],
                    "operationId": "DeleteDataSoftArrBPTD",
                    "summary": "Delete Soft Data Array BPTD",
                    "description": "Delete Soft Data Array BPTD",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/queryParamsDeleteArrId"
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "iact": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "iact": true
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/RemoveSuccess"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/provinsi": {
                "get": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data Provinsi"
                    ],
                    "operationId": "GetAllProvinsi",
                    "summary": "Get All Provinsi",
                    "description": "Get Data All Provinsi",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/queryParamsPage"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsPaginate"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsOrderBy"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsSortBy"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsSearch"
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "Get Data Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "data": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "bptd_id": {
                                                            "type": "integer"
                                                        },
                                                        "kode": {
                                                            "type": "string"
                                                        },
                                                        "nama": {
                                                            "type": "string"
                                                        },
                                                        "is_active": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "meta": {
                                                "type": "object",
                                                "properties": {
                                                    "pages": {
                                                        "type": "integer"
                                                    },
                                                    "paginate": {
                                                        "type": "integer"
                                                    },
                                                    "total": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "success": true,
                                        "message": "Permintaan Data Berhasil",
                                        "data": [
                                            {
                                                "id": 11,
                                                "bptd_id": 1,
                                                "kode": "11",
                                                "nama": "ACEH",
                                                "is_active": true
                                            }
                                        ],
                                        "meta": {
                                            "pages": 1,
                                            "paginate": "50",
                                            "total": 1
                                        }
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed Get Data",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/provinsi/publish/active": {
                "get": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data Provinsi"
                    ],
                    "operationId": "GetAllProvinsiActive",
                    "summary": "Get All Provinsi Flag Is Active True",
                    "description": "Get Data All Provinsi Flag Is Active True",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/queryParamsPage"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsPaginate"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsOrderBy"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsSortBy"
                        },
                        {
                            "$ref": "#/components/parameters/queryParamsSearch"
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "Get Data Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "data": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "bptd_id": {
                                                            "type": "integer"
                                                        },
                                                        "kode": {
                                                            "type": "string"
                                                        },
                                                        "nama": {
                                                            "type": "string"
                                                        },
                                                        "is_active": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "meta": {
                                                "type": "object",
                                                "properties": {
                                                    "pages": {
                                                        "type": "integer"
                                                    },
                                                    "paginate": {
                                                        "type": "integer"
                                                    },
                                                    "total": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "success": true,
                                        "message": "Permintaan Data Berhasil",
                                        "data": [
                                            {
                                                "id": 11,
                                                "bptd_id": 1,
                                                "kode": "11",
                                                "nama": "ACEH",
                                                "is_active": true
                                            }
                                        ],
                                        "meta": {
                                            "pages": 1,
                                            "paginate": "50",
                                            "total": 1
                                        }
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed Get Data",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/provinsi/{id}": {
                "get": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data Provinsi"
                    ],
                    "operationId": "GetDataProvinsiById",
                    "summary": "Get Data Provinsi By ID",
                    "description": "Get Data Provinsi By ID",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/pathParamsId"
                        }
                    ],
                    "responses": {
                        "200": {
                            "description": "Get Data Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "data": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "bptd_id": {
                                                            "type": "integer"
                                                        },
                                                        "kode": {
                                                            "type": "string"
                                                        },
                                                        "nama": {
                                                            "type": "string"
                                                        },
                                                        "is_active": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "success": true,
                                        "message": "Permintaan Data Berhasil",
                                        "data": {
                                            "id": 11,
                                            "bptd_id": 1,
                                            "kode": "11",
                                            "nama": "ACEH",
                                            "is_active": true
                                        }
                                    }
                                }
                            }
                        },
                        "400": {
                            "description": "Failed Get Data",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/400Error"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/provinsi/create": {
                "post": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data Provinsi"
                    ],
                    "operationId": "InsertDataProvinsi",
                    "summary": "Insert Data Provinsi",
                    "description": "Insert Data Provinsi",
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "bptd_id": {
                                            "type": "integer",
                                            "minLength": 1
                                        },
                                        "kode": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "nama": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "iact": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "bptd_id": 1,
                                    "kode": "02ts",
                                    "nama": "tested2",
                                    "iact": true
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "success": {
                                                "type": "boolean"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "data": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "last_insert_id": {
                                                            "type": "integer"
                                                        },
                                                        "fields": {
                                                            "type": "object",
                                                            "properties": {
                                                                "bptd_id": {
                                                                    "type": "integer"
                                                                },
                                                                "kode": {
                                                                    "type": "string"
                                                                },
                                                                "nama": {
                                                                    "type": "string"
                                                                },
                                                                "is_active": {
                                                                    "type": "boolean"
                                                                },
                                                                "created_by": {
                                                                    "type": "integer"
                                                                },
                                                                "created_at": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "success": true,
                                        "message": "Tambah Data Berhasil",
                                        "data": [
                                            {
                                                "last_insert_id": 27,
                                                "fields": {
                                                    "bptd_id": 1,
                                                    "kode": "02ts",
                                                    "nama": "tested2",
                                                    "iact": true,
                                                    "created_by": 3,
                                                    "created_at": "2022-03-15 09:55:02"
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        },
                        "422": {
                            "description": "Unprocessable Entity",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/422UnProcessEntity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/provinsi/update/{id}": {
                "put": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data Provinsi"
                    ],
                    "operationId": "UpdateDataProvinsi",
                    "summary": "Update Data Provinsi",
                    "description": "Update Data Provinsi",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/pathParamsId"
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "bptd_id": {
                                            "type": "integer",
                                            "minLength": 1
                                        },
                                        "kode": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "nama": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "iact": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "bptd_id": 1,
                                    "kode": "02t",
                                    "nama": "test123",
                                    "iact": true
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/UpdateSuccess"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        },
                        "422": {
                            "description": "Unprocessable Entity",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/422UnProcessEntity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/provinsi/updateArr/status": {
                "put": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data Provinsi"
                    ],
                    "operationId": "UpdateDataStatusArrProvinsi",
                    "summary": "Update Data Status Array Provinsi",
                    "description": "Update Data Status Array Provinsi",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/queryParamsArrId"
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "iact": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "iact": true
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/UpdateSuccess"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/provinsi/deleteSoft/{id}": {
                "delete": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data Provinsi"
                    ],
                    "operationId": "DeleteSoftDataProvinsi",
                    "summary": "Delete Soft Data Provinsi",
                    "description": "Delete Soft Data Provinsi",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/queryParamsArrId"
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "iact": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "iact": true
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/RemoveSuccess"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "/provinsi/deleteArrSoft/arr": {
                "delete": {
                    "security": [
                        {
                            "bearerAuth": []
                        }
                    ],
                    "tags": [
                        "Pengaturan Data Provinsi"
                    ],
                    "operationId": "DeleteDataSoftArrProvinsi",
                    "summary": "Delete Soft Data Array Provinsi",
                    "description": "Delete Soft Data Array Provinsi",
                    "parameters": [
                        {
                            "$ref": "#/components/parameters/queryParamsDeleteArrId"
                        }
                    ],
                    "requestBody": {
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "iact": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "iact": true
                                }
                            }
                        }
                    },
                    "responses": {
                        "200": {
                            "description": "Success",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/RemoveSuccess"
                                    }
                                }
                            }
                        },
                        "401": {
                            "description": "UnAuthorize",
                            "content": {
                                "application/json": {
                                    "schema": {
                                        "$ref": "#/components/schemas/401UnAuthorize"
                                    }
                                }
                            }
                        }
[...]
